In [134]:
path_to_config = 'in/data_loader_config.txt'
params = read_loader_config(path_to_config)

file_ = 'mcc'
path_to_columns = 'in/%s_file_columns.txt' % (file_)
columns = read_file_columns(path_to_columns)

path_to_data = 'data/%s.csv' % (file_)
df = data_loader(columns, path_to_data, dict(params))
df

   MCC  CategoryName
0    1            10
1    2             1
2    3             9
3    9             5
4    5             1
5    7             1
6    6             9
7    8             1
8    6             6
9    9             4