In [51]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

import numpy as np
import pandas as pd
import sys, os, random, re, datetime, string
from imp import reload

sys.path.append('.')
from backend import data_handling; reload(data_handling);
from backend import metrics; reload(metrics);
from backend import metric_buttons; reload(metric_buttons);

PATH_TO_LOADER_CONFIG = 'in/data_loader_config.txt'

PATH_TO_MCC_COLUMNS = 'in/mcc_file_columns.txt'
PATH_TO_STORES_COLUMNS = 'in/stores_file_columns.txt'
PATH_TO_TRANSACTIONS_COLUMNS = 'in/transactions_file_columns.txt'
PATH_TO_CLIENTS_COLUMNS = 'in/clients_file_columns.txt'
PATH_TO_CLIENT_CATEGORIES_COLUMNS = 'in/client_categories_file_columns.txt'
PATH_TO_CLIENT_INTERNET_DATA_COLUMNS = 'in/client_internet_data_file_columns.txt'

PATH_TO_MCC_FILE = 'data/mcc.csv'
PATH_TO_STORES_FILE = 'data/stores.csv'
PATH_TO_TRANSACTIONS_FILE = 'data/transactions.csv'
PATH_TO_CLIENTS_FILE = 'data/clients.csv'
PATH_TO_CLIENT_CATEGORIES_FILE = 'data/client_categories.csv'
PATH_TO_CLIENT_INTERNET_DATA_FILE = 'data/client_internet_data.csv'

In [53]:
metric_buttons.button_Age()
metric_buttons.button_AverageBill()
metric_buttons.button_AverageTransactionNumber()
metric_buttons.button_ClientAverageBill()
metric_buttons.button_ClientNumberInSegmentRate('x', ['z','c','n'])
metric_buttons.button_Gender()
metric_buttons.button_IncomeInSegmentRate('x', ['z','c','n'])
metric_buttons.button_NewClientTransactions()
metric_buttons.button_Revenue()
metric_buttons.button_Revenue('x')
metric_buttons.button_TransactionNumberInSegmentRate('x', ['z','c','n'])
metric_buttons.button_TransactionNumberInSegmentRate('x')
metric_buttons.button_RevenueDynamicByDay()
metric_buttons.button_RevenueDynamicByDay(['x'])

          mean
Age
1     5.806157
2     7.103568
3    10.340824
4     9.377420
5    10.019607
7    10.326733

8.75044290680415

Date
2020-01-04    1.0
2020-01-23    1.0
2020-02-01    1.0
2020-04-19    1.0
2020-05-08    1.0
2020-05-26    1.0
2020-07-14    1.0
2020-08-08    1.0
2020-09-11    1.0
2020-09-27    1.0
Name: CNUM, dtype: float64

CNUM  Date
1     2020-08-08     7.574164
2     2020-05-08     1.336035
3     2020-01-04     8.246909
      2020-07-14     1.490754
4     2020-01-23     4.121435
      2020-09-27     7.490879
7     2020-05-26    10.326733
8     2020-04-19    10.340824
9     2020-02-01     9.698390
10    2020-09-11     9.377420
Name: Amount, dtype: float64

[('x', 0, 3), ('x', 0, 3), ('c', 1, 1), ('n', 2, 1), ('z', 3, 1)]

              sum
Gender
F        9.377420
G       11.612315
K       10.340824
N       11.612315
O        9.698390
R        9.698390
S       10.340824
t       10.326733

[('x', 0, 12),
 ('x', 0, 12.204208930598352),
 ('c', 1, 10.34082402832574),
 ('n', 2, 9.698390108557652),
 ('z', 3, 7.4908793701104415)]

6

Date
2020-01-04    0.0
2020-01-23    0.0
2020-02-01    0.0
2020-04-19    0.0
2020-05-08    0.0
2020-05-26    0.0
2020-07-14    0.0
2020-08-08    0.0
2020-09-11    0.0
2020-09-27    0.0
Name: Amount, dtype: float64

Date
2020-05-08    0.0
2020-07-14    0.0
2020-09-11    0.0
Name: Amount, dtype: float64

[('x', 0, 3), ('x', 0, 3), ('c', 1, 1), ('n', 2, 1), ('z', 3, 1)]

[('x', 0, 3), ('x', 0, 3), ('I', 1, 1), ('L', 2, 1), ('c', 3, 1), ('g', 4, 1)]

Date
2020-01-04     8.246909
2020-01-23     4.121435
2020-02-01     9.698390
2020-04-19    10.340824
2020-05-08     1.336035
2020-05-26    10.326733
2020-07-14     1.490754
2020-08-08     7.574164
2020-09-11     9.377420
2020-09-27     7.490879
Name: Amount, dtype: float64

Date
2020-05-08    1.336035
2020-07-14    1.490754
2020-09-11    9.377420
Name: Amount, dtype: float64