In [118]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

import numpy as np
import pandas as pd
import sys, os, random, re, datetime, string
from imp import reload

sys.path.append('.')
from backend import data_handling; reload(data_handling);
from backend import metrics; reload(metrics);
from backend import metric_buttons; reload(metric_buttons);

PATH_TO_LOADER_CONFIG = 'in/data_loader_config.txt'

PATH_TO_MCC_COLUMNS = 'in/mcc_file_columns.txt'
PATH_TO_STORES_COLUMNS = 'in/stores_file_columns.txt'
PATH_TO_TRANSACTIONS_COLUMNS = 'in/transactions_file_columns.txt'
PATH_TO_CLIENTS_COLUMNS = 'in/clients_file_columns.txt'
PATH_TO_CLIENT_CATEGORIES_COLUMNS = 'in/client_categories_file_columns.txt'
PATH_TO_CLIENT_INTERNET_DATA_COLUMNS = 'in/client_internet_data_file_columns.txt'

PATH_TO_MCC_FILE = 'data/mcc.csv'
PATH_TO_STORES_FILE = 'data/stores.csv'
PATH_TO_TRANSACTIONS_FILE = 'data/transactions.csv'
PATH_TO_CLIENTS_FILE = 'data/clients.csv'
PATH_TO_CLIENT_CATEGORIES_FILE = 'data/client_categories.csv'
PATH_TO_CLIENT_INTERNET_DATA_FILE = 'data/client_internet_data.csv'

In [119]:
metric_buttons.button_Age()
metric_buttons.button_AverageBill()
metric_buttons.button_AverageTransactionNumber()
metric_buttons.button_ClientAverageBill()
metric_buttons.button_ClientNumberInSegmentRate('x', ['z','c','n'])
metric_buttons.button_Gender()
metric_buttons.button_IncomeInSegmentRate('x', ['z','c','n'])
metric_buttons.button_NewClientTransactions()
metric_buttons.button_Revenue()
metric_buttons.button_Revenue('x')

          mean
Age
1     5.806157
2     7.103568
3    10.340824
4     9.377420
5    10.019607
7    10.326733

8.75044290680415

1.25

CNUM
1      7.574164
2      1.336035
3      4.868831
4      5.806157
7     10.326733
8     10.340824
9      9.698390
10     9.377420
Name: Amount, dtype: float64

1.0

              sum
Gender
F        9.377420
G       11.612315
K       10.340824
N       11.612315
O        9.698390
R        9.698390
S       10.340824
t       10.326733

nan

6

0.0

0.0